@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
body {
    background: #111111;
    font-family: "metropolis-regular", sans-serif;
}

.nav {
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin: 0px;
    list-style: none;
    position: fixed;
    top: 80%;
    height: 100%;
    z-index: 2;
    background-color: rgba(0,0,0,0.6);
}

.padding-0 {
    padding: 0;
    margin: 0;
}

.tabs {
    height: 20vh;
    width: 25vw;
    color: #ffffff;
    text-align: center;
}

.tab-pane {
    padding-bottom: 20vh;
    padding-top: 20px;
    padding-right: 20px;
    padding-left: 20px;
    min-height: 100vh;
}

.about-title {
    font-size: 60px;
}

.item-title {
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #00C0B0;
}

#about {
    background-color: rgba(0,0,0,0.2);
    color: #ffffff;
    padding-top: 15vh;
    max-height: 100vh;
}

    #about .fa {
        padding: 5px;
    }

#about, #services, #contact, #team {
    background-color: #ffffff;
    color: #555555;
}

.btn {
    border-radius: 100px;
    text-transform: uppercase;
    letter-spacing: 1px;
    box-shadow: 10px 10px 10px lightgray;
    margin: 10px;
    background-color: #00C0B0;
    color: #ffffff;
}

    .btn:hover {
        font-size: large;
    }

.nav-titles {
    display: none;
}

@media (min-width: 768px) {
    .tabs {
        width: 100%;
    }

    .nav {
        top: 0%;
        width: 15%;
    }

    .nav-titles {
        display: block;
    }

    .tab-content {
        width: 85%;
        left: 15%;
        position: relative;
    }

    .tab-pane {
        padding-bottom: 10px;
    }
}

.fa-circle {
    color: rgba(0, 0, 0, 0.2);
}

a {
    color: #00C0B0;
}

    a:hover {
        color: #00C0B0;
    }

.nav-icons {
    margin-top: auto;
    margin-bottom: auto;
}
}


/**********************
/***** Services *******
/*********************/

section {
    padding: 60px 0;
}

    section .section-title {
        text-align: center;
        color: #007b5e;
        margin-bottom: 50px;
        text-transform: uppercase;
    }

#what-we-do {
    background: #ffffff;
}

    #what-we-do .card {
        padding: 1rem !important;
        border: none;
        margin-bottom: 1rem;
        -webkit-transition: .5s all ease;
        -moz-transition: .5s all ease;
        transition: .5s all ease;
    }

        #what-we-do .card:hover {
            -webkit-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
            -moz-box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
            box-shadow: 5px 7px 9px -4px rgb(158, 158, 158);
        }

        #what-we-do .card .card-block {
            padding-left: 50px;
            position: relative;
        }

            #what-we-do .card .card-block a {
                color: #007b5e !important;
                font-weight: 700;
                text-decoration: none;
            }

                #what-we-do .card .card-block a i {
                    display: none;
                }

        #what-we-do .card:hover .card-block a i {
            display: inline-block;
            font-weight: 700;
        }

        #what-we-do .card .card-block:before {
            font-family: FontAwesome;
            position: absolute;
            font-size: 39px;
            color: #007b5e;
            left: 0;
            -webkit-transition: -webkit-transform .2s ease-in-out;
            transition: transform .2s ease-in-out;
        }

        #what-we-do .card .block-1:before {
            content: "\f0e7";
        }

        #what-we-do .card .block-2:before {
            content: "\f0eb";
        }

        #what-we-do .card .block-3:before {
            content: "\f00c";
        }

        #what-we-do .card .block-4:before {
            content: "\f209";
        }

        #what-we-do .card .block-5:before {
            content: "\f0a1";
        }

        #what-we-do .card .block-6:before {
            content: "\f218";
        }

        #what-we-do .card:hover .card-block:before {
            -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
            -webkit-transition: .5s all ease;
            -moz-transition: .5s all ease;
            transition: .5s all ease;
        }

}
}

}
}
}
